@import url("normalize.css");
body {
  background-color: #FFF9C4;
}

.jumbotron {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
  overflow: hidden;
  height: 250px;
}

.jumbotron #hd_h1 {
  font-size: 80px;
  color: white;
  text-shadow: 3px 2px black;
}

.footer {
  height: 100px;
}

nav {
  background-color: #FFC107;
}

nav .navbar-brand:hover {
  color: red;
}

nav .nav-link {
  color: white;
}

nav .nav-link:hover {
  color: red;
}

.container .fakeimg {
  width: 150px;
}
